body.spider-monkeys-theme {
  background-color: #EBF1F5;
}

.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

header nav {
  margin-top: 14px;
}

.logotype {
  font-family: serif;
  color: transparent;
  background-image: url('../img/ateles_logotype_mobile.svg');
  background-repeat: no-repeat;
  width: 150px;
}

.blurb-landscape,
.blurb-portrait {
  display: block;
  background-color: #fff;
  margin-bottom: 10px;
}

.col-md-3.blurb-image {
  padding: 0;
}

.blurb-content,
.col-md-9.blurb-content {
    padding: 30px 50px;
}

.blurb-content a {
  color: #0475D7;
  text-decoration: underline;
}

.blurb-portrait h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.blurb-portrait .blurb-content {
  padding: 20px 40px;
}

footer {
  color: #fff;
  background-color: #0475D7;
}

footer h2,
footer a {
  color: #fff;
}
