/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
body.spider-monkeys-theme {
  background-color: #EBF1F5;
}

main {
    padding-top: 15px;
}

h1.logotype {
  background-image: url('../img/ateles_logotype_mobile.svg');
  background-repeat: no-repeat;
  color: transparent;
  font-family: serif;
  line-height: 2rem;
  margin: 6px 0 0 0;
  width: 150px;
}

.spider-monkeys-theme p {
  font-size: 1rem;
}

.spider-monkeys-theme a {
    font-size: 1rem;
    text-decoration: underline;
}

.spider-monkeys-theme .page-header {
  background-color: #0475D7;
  margin: 0;
  padding: 15px 0;
}

.spider-monkeys-theme h2 {
    color: #006AC7;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 15px;
}

.spider-monkeys-theme footer h2 {
  color: #fff;
  font-size: 1.3rem;
  /*
  margin-top: 70px;
  margin-bottom: 20px;
  */
}

.spider-monkeys-theme h3 {
  color: #0475D7;
  font-weight: bold;
  font-size: 2rem;
}

.blurb-portrait,
.blurb-landscape {
  background-color: #fff;
  display: block;
  margin-bottom: 20px;
}

.blurb-image {
    max-height: 200px;
    overflow: hidden;
}

.blurb-text {
    background-color: #fff;
}

.blurb-link {
  background-color: #fff;
  padding: 15px 30px;
}

.blurb-link a {
  color: #0475D7;
  text-decoration: underline;
}

.blurb-portrait h3,
.blurb-landscape h3 {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 15px;
}

.blurb-portrait .blurb-text,
.blurb-landscape .blurb-text {
  padding: 15px 30px;
}

.vertical-align {
  align-items: center;
  display: flex;
}

.blurb-content {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.blurb-fadin {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background:-webkit-linear-gradient(rgba( 255, 255, 255, 0), rgba(255, 255, 255, 1) ); /* For Safari */
  background:linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

footer {
  color: #fff;
  background-color: #0475D7;
}

footer h2,
footer a {
  color: #fff;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .vertical-align {
    display: inline;
  }

  .blurb-landscape {
    background-color: #fff;
  }

  .blurb-landscape .blurb-image {
    float: left;
    width: 40%;
    max-height: 100%;
  }

  .blurb-landscape .blurb-text {
    float: left;
    width: 60%;
  }

  .blurb-landscape .blurb-fadin,
  .blurb-landscape .blurb-link.outside {
    display: none;
  }

  .blurb-landscape .blurb-link {
    width: 60%;
    margin-left: 40%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .blurb-portrait {
    height: 450px;
  }

  .blurb-content {
    height: 350px;
  }

  .blurb-link {
    height: 100px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .spider-monkeys-theme h2 {
    font-size: 2.5rem;
    margin-top: 65px;
    margin-bottom: 30px;
  }

  .blurb-image {
    width: auto;
  }

  .blurb-text {
      padding: 30px 50px;
  }

  .spider-monkeys-theme footer h2 {
    color: #fff;
    font-size: 1.3rem;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .blurb-portrait {
    height: 500px;
  }

  .blurb-content {
    height: 400px;
  }

  .blurb-link {
    height: 100px;
  }

}
